#header {
    height: 70px;
    background-color: #3B5998;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
}

body {
    margin: 0;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 60% 40%;

}

#brand-logo {
    color: white;
    font-size: 30px;
    padding-top: 10px;

}
.mail{
    justify-content: center;
}
.emailpass {
    padding-top: 5px;
    color: white;
    font-size: smaller;
    padding-bottom: 0px;
    justify-content: space-around;
}
.forgot{
    color: white;
    font-size: smaller;
    padding-top: 5px;

}

.login {
    text-align: center;
    background-color: #3B5998;

}

.tombol{
padding: 20px 20px 10px 10px ;
text-align: center;
}
#home-content {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 66% 34%;
}

.kontenkanan{
    padding: 5px 5px 5px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}
.kontenkanan h2{
    margin: 0px;
    padding-top: 10px;
}
.kontenkanan h4{
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.kontenkiri{
    padding: 5px 5px 5px 5px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.input-group{
    display: flex;
    padding-bottom: 5px;
    margin: 0px;
}

#first-name{
    width: 100%;
    box-sizing: border-box;

}

#surename {
    width: 100%;
    box-sizing: border-box;

}

#mobile-or-email{
    margin-top: 15px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
}

#header form {
    display: flex;
}